@charset "utf-8";
/* CSS Document */
{
	margin: 0px;
	padding: 0px;
	font-family: 'Rubik Glitch', cursive;
	box-sizing: border-box;
	
}
.header{
    min-height: 10vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("wallpaper1.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
	
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;	
}
nav img{
	width: 64px;
	
}
.nav-links{
	flex: 1;
	text-align: right;
	font-family: 'Rubik Glitch', cursive;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	
}
.nav-links ul li a{
	color:#b96ed7;
	text-decoration: none;
	font-size: 13px;
	
}

.nav-links ul li ::after{
	
	content: '';
	width: 0%;
	height: 1px;
	background: #f2c681;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li :hover::after{
	width: 50%;
}

.container{
	width: 80%;
	display:flow-root;
	margin: auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28;
	
}
.content-section .content h3{
	margin-top: 20px;
	color: #5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 17px;
	line-weight: 1.5;
}

.content-section .social{
	margin-top: 40px;
	height: 100%;
	width:  300%;
	
}
.content-section .social a{
	
	color: #aaaaaa;
	transition: color 0.2s;
	text-decoration: none;
	padding: 0 10px;
	
}
.content-section .social a:hover{
	color: #33333333;
	
}
.content-section .social i{
	font-size: 60px;
}

		p{
			padding: 15px;
			font-size: 50px;
			border-radius: 10px;
			border: 1px solid #cc9c3;
				
		}
		
		.read-more-state{
			display: none;
			
		}
		
		.read-more-target{
			max-height: 0;
			opacity: 0;
			font-size: 0;
			transition: 0.45s ease;
		}
		
		.read-more-state:checked~.read-more-wrap .read-more-target{
			opacity: 1;
			font-size: inherit;
		}
		
		.read-more-state~.read-more-trigger:before{
			content:'Read more';
		}
		
		.read-more-state:checked~.read-more-trigger:before{
			content: 'Read less';
			
		}
		
		.read-more-trigger{
	        background-color: #3d3d3d;
	        padding: 12px 20px;
	        text-decoration: none;
	        color: #fff;
	        font-size: 25px;
	        letter-spacing: 1.5px;
			cursor: pointer;
		}

.read-more-trigger:hover{
	background-color: #a52a2a;	
	color: #fff;	
}
.vidani{
	position: absolute;
	rigth:0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #111;
	color: #fff;
	z-index: 2;
}

.vidani video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
	
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #E9BA5A	;
	mix-blend-mode: overlay;

}